@import url('https://fonts.googleapis.com/css?family=Lato');

.blame-details {
    width: 5px;
}

.box-interactive-github-blame .commit-details {
    display: flex;
    flex-direction: column;
    margin-top: -10px;
    color: #000;
}

.box-interactive-github-blame .user-details {
    display: flex;
    flex-direction: row;
    margin-bottom: 7px;
    align-items: center;
    color: #000;
}

.hr-interactive-github-blame {
    width: 100%;
    border: 0;
    height: 0;
    margin-top: 0px;
    padding: 0px;
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}